extends layout

block content
  .jumbotron.text-center.registrationTitle
    .div
      p #{title}

  .div.row
    .div.col-2
    .div.col-8
      p Purchase orders give you a way to track purchases and protect your business legally in the event of a problem with the seller. It helps them prevent fraud, control employee purchasing, and avoid duplicate purchases. 
      p Since purchase orders are a legal agreement between buyers and sellers, they can protect you from price increases and any legal disputes that arise regarding the order. And if the price changes between the time you submitted your purchase order and the time of delivery, you’ll have a record of the agreed-upon price. 
      p Purchase orders are a key aspect of maintaining accurate, complete financial records. They might seem like just an extra piece of accounting paperwork, but knowing when and how to use them has far-reaching business benefits. 
      p
          | Having trouble? 
          a(href='support') Contact us
  br
  br
  br