doctype html
html
  head
    title= title
    
    //css and js files
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    
    //SimpleIcons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css')
    link(rel='stylesheet' href='/glyphicons-only-bootstrap/css/bootstrap.min.css')

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css' integrity='sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=' crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')

    


    block navBar
      .div
        nav.navbar.navbar-expand-lg.fixed-top.navbar-app
          a.navbar-brand(href='/') 
            img(src='/public/images/simpleseclogo.png' alt='SimpleSec logo' height='90' width='90')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          
          .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/') Home
              li.nav-item
                a.nav-link(href='/about') About
              li.nav-item
                a.nav-link(href='/team') Team
              li.nav-item
                a.nav-link(href='/resources') Resources
              li.nav-item
                a.nav-link(href='/support') Support

            ul.navbar-nav.float-right
              if session
                li.nav-item.username
                  div #{session.username}
              li.nav-item
                a.nav-link(href='/users/register')  &nbsp; &nbsp;Sign up &nbsp; &nbsp;
              li.nav-item
                a.nav-link(href='/users/login')  &nbsp; &nbsp;Login &nbsp; &nbsp;
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Account &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                .dropdown-menu.account(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item(href='/users/generateKeys') New Private Key
                  a.dropdown-item(href='/users/logout') Logout
              
                  
  body
            
    block content

  footer
    .container.footerSection
      .row
        .col-lg-6.h-100.text-center.text-lg-left.my-auto.footerCR
          ul.list-inline.mb-2
            li.list-inline-item
              a.footerIcon(href='#') About
            li.list-inline-item &sdot;
            li.list-inline-item
              a.footerIcon(href='#') Contact
            li.list-inline-item &sdot;
            li.list-inline-item
              a.footerIcon(href='#') Terms of Use
            li.list-inline-item &sdot;
            li.list-inline-item
              a.footerIcon(href='#') Privacy Policy
          p.small.mb-4.mb-lg-0 &copy; SimpleSec 2020. All Rights Reserved.
        .col-lg-6.h-100.text-center.text-lg-right.my-auto
          ul.list-inline.mb-0
            li.list-inline-item.mr-3
              a.footerIcon(href='#')
                i.icon-social-facebook
            li.list-inline-item.mr-3
              a.footerIcon(href='#')
                i.icon-social-twitter
    
