extends layout

block content
  .jumbotron.text-center.registrationTitle
    .div
      p #{title}

  .div.row
    .div.col-2
    .div.col-8
      p 
        b What is a purchase order system? 

      p A purchase order system simply refers to a business process for managing purchase orders. Some businesses start with a manual paper-based system because it seems easier. But in the long run, keeping up with all the associated paperwork becomes difficult. 

      p A single purchase can involve records of quotes, order acknowledgments, miscellaneous notes, packing slips and invoices in addition to the purchase order. Purchase orders also need tracking and approvals done by immediate supervisors to continue its routing making this process overwhelming if you are dealing with a manual process simplifying record keeping and protection of the records from loss, damage, accidental destruction. That is why more and more businesses of any size are transitioning to a digital automated and secure procurement process. 

      p 
        b How do businesses use a purchase order system? 

      p A purchase order system helps streamline the purchasing process. For large businesses that have multiple employees involved in purchasing, having a centralized system ensures no one places duplicate orders for the same items, also it will be easier to submit purchase requests for approval to purchasing manager. 

      p Another way a purchasing system is useful for the business process is by managing vendors. A reliable automation system helps log and track vendor information. It also makes it easy for you to submit approved orders to your vendors directly through the application 
      p 
        b Having trouble? 
      a(href='support') Contact us
  br
  br
  br