extends layout

block content
  .jumbotron.text-center.registrationTitle
    .div
      p #{title}
  .div.row
    .div.col-2
    .div.col-8  
      section.content.contact-us
        h4 Contact us
        p
          i.iconfont.iconemail
          a(target='_blank' href='mailto: mlopez87@stmarytx.edu')  Lopez, Isaura
        p
          i.iconfont.iconemail
          a(target='_blank' href='mailto: nayalasantana@mail.stmarytx.edu')  Ayala Santana, Nathalie
        p
          i.iconfont.iconemail
          a(target='_blank' href='mailto: athomas15@mail.stmarytx.edu')  Thomas, Aby Tino
  br
  br
  br
  br