extends layout

block content
  .jumbotron.text-center.registrationTitle
    .div
      p #{title}

  .div
    
    .container
        .row
            .col-12
                .section-title.title-left.text-center.text-lg-left
                    h3.top-sep.text-center "Talent wins games, but teamwork and intelligence win championships." 
                    h4.top-sep.text-center – Michael Jordan
                    p
                    | Our team of product experts and fully-trained engineers brings their knowhow and significant experience to your project to ensure its success. We are industry professionals and passionate about cinema in everything we do.
                    br
                    br
        .row.justify-content-center
            .col-md-6.col-lg-4.mb-30
                .team-item
                    .mb-30.position-relative.d-flex.align-items-center
                        span.socials.d-inline-block
                            a.zmdi.zmdi-linkedin(href='#')
                            a.zmdi.zmdi-github(href='#')
                        span.img-holder.d-inline-block
                            img(src='https://media-exp1.licdn.com/dms/image/C5603AQHokoLHWTx99Q/profile-displayphoto-shrink_200_200/0?e=1593043200&v=beta&t=8LdZ7IsLcK6BBKWJm7c9teBiNJ3AGs6uCqp1DoB-OhQ' alt='Isaura Lopez')
                    .team-content
                        h5.mb-2 Isaura Lopez
                        p.text-uppercase.mb-0 Senior Developer
            .col-md-6.col-lg-4.mb-30
                .team-item
                    .mb-30.position-relative.d-flex.align-items-center
                        span.socials.d-inline-block
                            a.zmdi.zmdi-linkedin(href='#')
                            a.zmdi.zmdi-github(href='#')
                        span.img-holder.d-inline-block
                            img(src='https://media-exp1.licdn.com/dms/image/C5603AQEFFZBYo1kBPg/profile-displayphoto-shrink_200_200/0?e=1593043200&v=beta&t=QcB_sEJZ8CBsHcxQ7m9l3iYniV4xg-WNFWKBKsAwIOA' alt='Aby Tino Thomas')
                    .team-content
                        h5.mb-2 Aby Tino Thomas
                        p.text-uppercase.mb-0 Senior Developer
            .col-md-6.col-lg-4.mb-30
                .team-item
                    .mb-30.position-relative.d-flex.align-items-center
                        span.socials.d-inline-block
                            a.zmdi.zmdi-linkedin(href='https://www.linkedin.com/in/nathalie-ayala-santana/')
                            a.zmdi.zmdi-github(href='https://github.com/nats2399')
                        span.img-holder.d-inline-block
                            img(src='https://media-exp1.licdn.com/dms/image/C4E03AQGJaCoxC-U5WA/profile-displayphoto-shrink_200_200/0?e=1593043200&v=beta&t=1c_qDwGbbRZFRa5JB1PCi3139PqIfgfHXBL5cB5sRsQ' alt='Nathalie Ayala Santana')
                    .team-content
                        h5.mb-2 Nathalie Ayala Santana
                        p.text-uppercase.mb-0 Senior Developer

  br
  br
  br