:root {
  --grey: #2c423f;
  --blue: #0376AF;
  --green: #95c623;
  --orange: #FA7921;
  --grey: #CACFD6;
  --lightgrey: #ececec;
}

body {
  padding: 116px 0 0 0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

html{
  margin:0;
  padding:0;
  height: 100%;
  background-color: #0376af;
}

.navbar-app {
  background-color: #0376af;  
}

#navbarSupportedContent a{
  color: #ffffff;
  font-weight: bold; 
}

#navbarSupportedContent a:hover{
  color: #2c423f;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: bold; 
}



.homeintro{
  background-image: url("/public/images/homebg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  color: #fff;
  font-weight: bold;
  font-size: 80px !important;  
}

.homeintro p{
  text-shadow: 2px 2px #2c423f;
}

.homeintro img{
  width: 350px;
}

.jumbotron{
  margin-bottom: 0px !important;
  font-size: 50px;
}

.linksSectionHome{
  background-color: #ffffff;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 5%;
}

.linksSection{
  background-color: #ffffff;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 15%;
}

.linksSectionHome i{
  font-size: 50px;
  background-color: #0376af;
  color: #ffffff !important;
  padding: 20px;
  border-radius: 50px;
}

.linksSectionHome h3{
  margin-top: 3%;
}

.linksSection i{
  font-size: 50px;
  background-color: #0376af;
  color: #ffffff !important;
  padding: 20px;
  border-radius: 50px;
}

.linksSection h3{
  margin-top: 3%;
}

.footerSection{
  width: 100%;
  padding: 20px;  
}

footer{
  background-color: #0376af;
  color: #ffffff !important;
}

.footerIcon{
  color: #ffffff !important
}

.footerCR p{
  color: #2c423f !important;
}


.username{
  color: #2c423f !important;
  font-style: italic;
  align-items: center;  
}

.username div{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 5%;
}

.account a{
  color: #002868 !important;
}

.account a:hover{
  background-color: #bf0a30 !important;
  color: #ffffff !important;
}



/* REGISTRATION */


.registrationTitle{
  background-color: #ffffff !important;
}

.register{
  background: -webkit-linear-gradient(left, #0376AF, #2C423F);
  padding: 3% 0px 3% 0px;
  display: block;
  margin-bottom: 10% !important;
}

.register i{
  font-size: 60px;
  padding: 30px;
  display: block;
}
.register-left{
  text-align: center;
  color: #e9ecef;
  margin-top: 4%;
}
.register-left a{
  border: none;
  border-radius: 1.5rem;
  padding: 3% 20%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #2C423F;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}

.register-left a:hover{
  background-color: #2C423F;
  color: #fff;
}

.register-right{
  background: #ffffff;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0376AF;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.btnRegister:hover{
  background-color: #95c623;
  color: #2C423F;
}

.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0376AF;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0376AF;
  border: 2px solid #0376AF;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #2C423F;
}



/* LOGIN - GENERATE KEYS*/
.form-control {
  min-height: 41px;
  background: #fff;
  box-shadow: none !important;
  border-color: #e3e3e3;
}
.form-control:focus {
  border-color: #2C423F;
}
.form-control, .btn {        
  border-radius: 2px;
}
.login-div{
  background: #ececec;
}
.login-form {
  width: 350px;
  margin: 0 auto;
  padding: 100px 0 30px;		
}
.login-form form {
  color: #fff;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: #0376AF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;	
  position: relative;	
}
.login-form h2 {
  font-size: 22px;
  margin: 35px 0 25px;
}
.login-form h1 {
  margin: 30px 0px;
}
.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #0376AF;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}	
.login-form input[type="checkbox"] {
  margin-top: 2px;
}
.login-form .btn {        
  font-size: 16px;
  font-weight: bold;
  background: #2C423F;
  border: none;
  margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
  background: #95c623;
  outline: none !important;
}    
.login-form a {
  color: #bf0a30;
  text-decoration: underline;
}
.login-form a:hover {
  text-decoration: none;
}
.login-form form a {
  color: #FA7921;
  text-decoration: none;
}
.login-form form a:hover {
  text-decoration: underline;
}




.keys-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.keys-1{
  padding: 9%;
  background:#0376AF;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.keys-1 h3{
  text-align: center;
  margin-bottom:12%;
  color:#fff;
}
.keys-2{
  padding: 9%;
  background: #2c423f;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.keys-2 h3{
  text-align: center;
  margin-bottom:12%;
  color: #fff;
}
#keys textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.btnForgetPwd{
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding:3% 30%;
}
.btnForgetPwd{
  color: #2c423f;
  font-weight: 600;
  text-decoration: none;
}
.btnForgetPwd:hover{
  text-decoration:none;
  background-color: #FA7921;
  color:#fff;
}

#downloadbtn{
  background-color: #0376AF !important;
  color: #fff;
}

#downloadbtn:hover{
  background-color: #95c623 !important;
  border-color: #2c423f;
  color: #2c423f;
}


.candidates{
  color: #2c423f;
}






/* NEW ORDER */
.addorder{
  background: #fff;
}

.addorderform {
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
  background: #efefef;
  padding: 10px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.addorderform label {
  display: block;
  position: relative;
  margin: 40px 0px;
}

.addorderform .label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: #000;
  font-weight: bold;
  transition: ease .3s;
}
.addorderform .input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.addorderform .line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.addorderform .line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #95c623;
  transition: ease .6s;
}

.addorderform .input:focus + .line-box .line {
  width: 100%;
}

.addorderform .label-active {
  top: -3em;
}

.addorderform button {
  display: inline-block;
  margin: 1em;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

.addorderform button:hover {
  background: #95c623;
  color: #ffffff;
}


.addorderbutton{
  display: inline-block;
  margin: 1em;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;  
}

.addorderform > div{
  margin-bottom: -5%;
}

#addproduct{
  padding: 10px 120px 0px 120px;
}

.qinput{
  background-color: #fff !important;
}

#ProductSelected{
  background-color: #0367af;
  border-color: #0367af;
  padding: 12px 24px;
}

#addbutton{
  background-color: #343a40;
  color: #fff;
}

#addbutton:hover{
  background: #0367af;
  color: #ffffff;
}

#savebutton{
  background-color: #17a2b8;
  color: #343a40;
}

#savebutton:hover{
  background-color: #138496;
  border-color: #117a8b;
  color: #ffffff;
}

.savebutton{
  background-color: #17a2b8 !important;
  color: #343a40 !important;
}

.savebutton:hover{
  background-color: #138496 !important;
  border-color: #117a8b !important;
  color: #ffffff !important;
}

#submitbutton{
  background-color: #8BC34A;
  color: #343a40;
}

#submitbutton:hover{
  background: #218838;
  border-color: #1e7e34;
  color: #ffffff;
}

.submitbutton{
  background-color: #8BC34A !important;
  color: #343a40 !important;
}

.submitbutton:hover{
  background: #218838 !important;
  border-color: #1e7e34 !important;
  color: #ffffff !important;
}


#cancelbutton{
  background-color: #dc3545;
  color: #343a40;
}

#cancelbutton:hover{
  background-color: #c82333;
  border-color: #bd2130;
  color: #ffffff;
}

.cancelbutton{
  background-color: #dc3545 !important;
  color: #343a40 !important;
}

.cancelbutton:hover{
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
  color: #ffffff !important;
}

.orderdisplay{
  border: 1px solid #051153;
  /*box-shadow: 6px 6px 7px #abacaf;*/
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}



.keysrow{
  display: inline-flex;
  margin-bottom: 5% !important;
}

.privatekeyinstructions{
  color: #FFFFFF;
  font-size: 10px;
}

.vote-1{
  padding: 1%;
  background:#0376AF;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.vote-1 h3{
  text-align: center;
  margin-bottom:5%;
  color:#fff;
}
.vote-2{
  padding: 1%;
  background: #343a40;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.vote-2 h3{
  text-align: center;
  margin-bottom:5%;
  color: #fff;
}
.vote-1 textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 2%;
}

.vote-2 textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 2%;
}





/*[Error page]
--------------------------*/
.error-content {
  padding: 0 0 70px;
}
.error-text{
  text-align: center;
}
.error {
  font-size: 180px;
  font-weight: 100;
}
@keyframes bob {
  0% {
      top: 0;
  }
  50% {
      top: 0.2em;
  }
}
.im-sheep {
  display: inline-block;
  position: relative;
  font-size: 1em;
  margin-bottom: 70px;
}
.im-sheep * {
  transition: transform 0.3s;
}
.im-sheep .top {
  position: relative;
  top: 0;
  animation: bob 1s infinite;
}
.im-sheep:hover .head {
  transform: rotate(0deg);
}
.im-sheep:hover .head .im-eye {
  width: 1.25em;
  height: 1.25em;
}
.im-sheep:hover .head .im-eye:before {
  right: 30%;
}
.im-sheep:hover .top {
  animation-play-state: paused;
}
.im-sheep .head {
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  background: #253858;
  vertical-align: middle;
  position: relative;
  top: 1em;
  transform: rotate(30deg);
}
.im-sheep .head:before {
  content: '';
  display: inline-block;
  width: 80%;
  height: 50%;
  background: #253858;
  position: absolute;
  bottom: 0;
  right: -10%;
  border-radius: 50% 40%;
}
.im-sheep .head:hover .im-ear.one, .im-sheep .head:hover .im-ear.two {
  transform: rotate(0deg);
}
.im-sheep .head .im-eye {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background: white;
  position: absolute;
  overflow: hidden;
}
.im-sheep .head .im-eye:before {
  content: '';
  display: inline-block;
  background: black;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  position: absolute;
  right: 10%;
  bottom: 10%;
  transition: all 0.3s;
}
.im-sheep .head .im-eye.one {
  right: -2%;
  top: 1.7em;
}
.im-sheep .head .im-eye.two {
  right: 2.5em;
  top: 1.7em;
}
.im-sheep .head .im-ear {
  background: #253858;
  width: 50%;
  height: 30%;
  border-radius: 100%;
  position: absolute;
}
.im-sheep .head .im-ear.one {
  left: -10%;
  top: 5%;
  transform: rotate(-30deg);
}
.im-sheep .head .im-ear.two {
  top: 2%;
  right: -5%;
  transform: rotate(20deg);
}
.im-sheep .body {
  display: inline-block;
  width: 7em;
  height: 7em;
  border-radius: 100%;
  background: #0054D1;
  position: relative;
  vertical-align: middle;
  margin-right: -3em;
}
.im-sheep .im-legs {
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 10%;
  z-index: -1;
}
.im-sheep .im-legs .im-leg {
  display: inline-block;
  background: #141214;
  width: 0.5em;
  height: 2.5em;
  margin: 0.2em;
}
.im-sheep::before {
  left: 0;
  content: '';
  display: inline-block;
  position: absolute;
  top: 112%;
  width: 100%;
  height: 18%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
}










/* DASHBOARD BUTTON */

.dashboardbutton{
  font-size: 10px;
  text-align: right;
}

.dashboardbutton a{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: 4px 2px;
  vertical-align: center;
  cursor: pointer;
}

.btn-groupe_2 .btn-honey_flower {
  width: 120px;
  height: 45px;
  background-color: #2c423f;
  color: white;
}
.btn-groupe_2 .btn-honey_flower:hover {
  background-color: #0376af;
  color: white;
}
.btn-groupe_2 .btn-honey_flower_2 {
  width: 40px;
  height: 45px;
  background-color: #2c423f;
}
.btn-groupe_2 .btn-honey_flower_2 .glyphicon {
  color: #fff;
}
